@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
body {
    background: #202020;
}
.project_container{  
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    background: #202020 repeat;
    
}

.projecttext {
    font-size:35px;
    
}

.image {
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    margin-top:25%;
    height:10%;
    
 }
.carousel-control {
    width:600px;
}
.project {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    font-size: 40px;
}
.carousel {
    position: static !important;
    width:700px;
    height:300px;
    margin: auto;
  }


#apparel, #logo, #ticket, #books {
    display: inline-block;
    border: none;
    color: white;
    font-size: 180%;
    padding:50px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Open Sans Condensed', sans-serif;   
    margin-top: 10%; 
 
}


.wrap {
    display:flex;
    justify-content: center;
    margin-bottom:-2%;
    
}

#apparel:hover, #logo:hover, #ticket:hover, #books:hover {
    transform: translate(0,-7px) ;
    
}

.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left:1%;
    margin-top:-5%;
    text-indent: 0;
    cursor: pointer;
    border: white solid 1px;
    border-radius: 30%;
    background-color: none;
    
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin-left:1%;
    margin-top:-5%;
    background-color: white;
    opacity: 0.7;
    
}

