@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.Admin_container {
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1488885064048-f182e4985f98?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Shadows Into Light', cursive;
   
}
.logout {
    float: right;
    font-size: 32px;
    margin-top:30px;
    margin-right: 45px;
}