

.Admin_container {
    width: 100vw;
    height: 100vh;
    background: #202020;
    background-size: cover;
    overflow-y: scroll;
    font-size: 20px;
    color: white;
   
    
   
}
.logout_button {
    color:white;
    background: none;
    border:none;
    position: absolute;
    margin-left: 1300px;
    margin-top: 32px;
    font-size: 26px;
    transition: 0.3s;
}
.logout_button:hover {
    transform: translate(0,-4px);
}
.Quote_Table {
    margin: 180px;
    

}

.invoiceinput {
    border: none;
    background: none;
    width:200px;
   
}
.admin_button {
    background: none;
    border: none;
    font-size: 20px;
    color:white;
}
.text {
    text-align: center;
    font-size:25px;
}

.table {
    margin-top: 10px;

}

.column-text{
    text-align: center;
}


.datacolumn {
    background:none !important;
    color: #232323 !important;
}
.delete_button {
    border: #232323;
    color:#232323;
    transition:0.2s;
}
.delete_button:hover{
    border: #232323 solid 0.5px;
    background: none;
}
select{
    background: none;
}
input{
    background: none;
    margin-left:20px;
}
.dataTables_length{
    position: absolute;
}
.paginate_button  {
    color: white;
}
#table_filter {
    margin-left:78%;
}
.tabletitle {
    text-align: center;
}