

.Admin_container {
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1488885064048-f182e4985f98?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    overflow-y: scroll;
    font-size: 20px;
   
    
   
}
.logout_button {
    background: none;
    border:none;
    position: absolute;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 26px;
}

.Quote_Table {
    margin: 200px;
    

}

.invoiceinput {
    border: none;
    background: none;
   
}
.admin_button {
    background: none;
    border: none;
    font-size: 20px;
}
.text {
    text-align: center;
    font-size:25px;
}

.table {
    margin-top: -50px;

}

.column-text{
    text-align: center;
}

