@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.about_container {
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1488885064048-f182e4985f98?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Shadows Into Light', cursive;
   
}

.about_title{
    font-size: 50px;
    padding: 35px;
}

.about_explanation {
    font-size: 30px;
    padding: 330px 120px 130px 130px;
}
