@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

.project_container {
    width: 100vw;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
    position: relative;
}
#video2 {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:auto;
    height:auto;
    position: fixed;
    z-index:-1;
    overflow:scroll;
    opacity:0.4;
    
}

.image {
    margin: 0 auto;
    width:600px !important;
    height:auto !important;
    opacity: 0.8;
}


.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    margin:auto;
 }


.carousel {
    width:100vw !important;
    height:100vh !important;
    
    
  }
.carousel-inner {
    width:100vw !important;
    height:100vh!important;
  }

#apparel, #logo, #tradeshow, #marketingproducts {
    
    height:50px;
    display: inline-block;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    font-size: 20px;
    padding:20px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 35px 15px 40px 25px; 
    font-family: 'Saira Condensed', sans-serif;
    display: flex;
    align-items: center;

 
}

.carousel-item {
    height: auto!important;
    background: no-repeat center center scroll;
    background-size: cover;
  }
.wrap {
    background: rgba(81, 79, 79, 0.30);
    display:flex;
    justify-content: center;
    position:fixed;
    height:115px;
    width:100%;
    top:0;
    left: 50%;
    transform:translate(-50%);
    z-index: 1;
    
}

.wrap-container{
    background: none;
    display:flex;
    justify-content: center;
    position:fixed;
    height:115px;
    width:100%;
    top:0;
    left: 50%;
    transform:translate(-50%);
    cursor: pointer;
    z-index: 1;
}

#apparel:hover, #logo:hover, #tradeshow:hover, #marketingproducts:hover{
    transform: translate(0,-4px) ;
    
}

.carousel-indicators li {
    display: inline-block;
    width: 1%;
    height:1%;
    text-indent: 0;
    cursor: pointer;
    border: darkgray solid 1px;
    border-radius: 30%;
    background-color: none;
    
}
.carousel-indicators .active {
    width:1%;
    height:1%;
    background-color: darkgray;
    
}


.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
  }


.colorlogo {
    width:400px;
    height:400px;
    opacity:0.6;
}
.scroll {
   width:80px;
   height:80px; 
   margin-top:-2%;
   cursor: pointer;
}
.scroll-container{
    margin-top:3%;
    font-size:18px;
}


.scrollingicon {
    width:50px;
    height:50px;
    float:right;
    margin-right:1%;
    
}

