@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');

.home_Container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    color: white;
    position: relative;
}

.ideas {
    color: black;
}
.img {
    width:50px;
    height:50px;
}
.title {
    font-size: 50px;
    padding:30px;
}

#video {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:auto;
    height:auto;
    position: absolute;
    z-index:-1;
    opacity:0.6;
   
}

.aboutusButton {
    margin-top:-3%;
    padding:11px;
    font-size: 23px;
    color:white;
    background: none;
    border: white 1px solid;
    cursor: pointer;  
    transition:0.3s;

}

.aboutusButton:hover {
    transform:  translate(0,-6px) ;
    border: none !important;
    background: none;
    color: white;
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
transform: translateX(-3px);
transform: translateX(-3px);
}

.letter {
    z-index: 3;
}

.home_quote{
    color: white; 
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    margin-top:16%;
    padding: 5.5%;
    font-size: 70px; 
    /* z-index:2; */
  }

  .Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  
