@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

button:focus {outline:0 !important;}
input:focus {
    outline:none !important;
}
.button_class:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: 'Quicksand', sans-serif !important;    
}
.input {
    width: 500px;
    height: 40px;
    font-size:20px;
    border: none;
    border-bottom: 1px white solid;
    background: none;
    margin-top: 20px;

}
.form{
    margin-top: 70px;
   
}
.messageinput{
    margin-top: 20px;
    width: 500px;
    height: 150px;
    font-size:20px;
    border: none;
    border-bottom: 1px white solid;
    background: none;
}


.messageSubmitbutton {
    margin-top: 30px;
    margin-left:370px;
    border: white solid 1px;
    font-size:25px;
    color: white;
    background: none;
}

.messageSubmitbutton:hover {

    border: none;
    background:none;
    color:white;
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
    transform: translateX(-3px);
    transform: translateX(-3px);
}


.mapboxgl-canvas{
    position: static !important;
}
.contact_form {
    font-size: 22px;
    display: ceneter;
    padding: 0px;
}


    

#map {
    margin-top: 100px;
    height:290px;
 
}
.mapboxgl-marker {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid dimgray;
}
