@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.contact {
    width: 100vw;
    height: 130vh;
    background: url("https://images.unsplash.com/photo-1488885064048-f182e4985f98?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop=") no-repeat;
    background-size: cover;
    overflow-y: scroll;
    font-family: 'Shadows Into Light', cursive;
}
.logos {
    
    padding: 50px;
}

.facebook{
    margin-right: 30px;
    width: 100px;
    height: 100px;
}
.linkedin{
    margin-right: 30px;
    width: 100px;
    height: 100px;
}


.instagram{
    width: 100px;
    height:100px;
}
.contact_container{
    padding:20px;
    background: url("https://static.pexels.com/photos/6368/art-wall-brush-painting.jpg");
}
.contact_form {
    width:100vw;
    height:50vh;
    padding:50px;
}

.input1, .input2 {
    padding:20px;
    border:black solid 1px;
}
.input1_container, .input2_container {
    padding:20px;
    background: none;
}
.input3 {
    width: 50vw;
   padding: 130px;
}
.input3_container{
    padding: 30px;
}

.submit_button {
    display: inline-block;
    border: black solid 1px;
    background: none;
    font-size: 20px;
    padding:10px;
    cursor: pointer;  
    font-family: 'Shadows Into Light', cursive;
    
}

.message_button {
    
    display: inline-block;
    margin: 35px;
    border: 1px solid black;
    background: none;
    font-size: 20px;
    padding: 18px;
    cursor: pointer;  
    transition:0.3s;
    font-family: 'Shadows Into Light', cursive;
}
.message_button:hover {
    transform:  translate(0,-6px) ;
}


.mapboxgl-map {
   position: absolute !important;
   overflow:visible !important;
}

.contact_form {
    font-size: 22px;
    display: ceneter;
    padding: 0px;
}


.mapboxgl-canvas {
    position:relative !important;
    
}

#formHorizontalName, #formHorizontalEmail, #formHorizontal {
    width: 450px;
    background: none;
    border: 1px solid black;
}

#formHorizontalMessage{
    width: 450px;
    height: 200px;
    background: none;
    border: 1px solid black;
}
.messageSubmitbutton {
    background: none;
    border: 1px solid black;
    padding:9.3px;
    float:right;
    font-size: 18px;
   
}
.custom-modal {
    font-family: 'Shadows Into Light', cursive;
    width: 50vw;
    height:auto;
  
}
.message_button {
    background: none;
    border: 1px solid black;
    padding:10px;
    font-size: 25px;
    color:black;
    
}
.message_button_container{
    margin-left:600px;
}

.message_button:hover {
    background:none;
    color:black;
    
}

.Contact_input_title {
    font-size: 20px;
    margin-top: -5px;
}

.Contact_input_title_message{
    font-size: 20px;
    margin-top: -8px;
}

.custom-modal-contact .modal-content {
    height:480px;  
    font-family: 'Shadows Into Light', cursive;
    background: url("https://images.unsplash.com/photo-1498230870289-7561110a6e69?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop=");
}

