@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

button:focus {outline:0 !important;}
input:focus {
    outline:none !important;
}

.request_container{
    width: 100vw;
    height: 100vh;
    position:relative;
    overflow: scroll;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: white;
}
 
.check_button:hover{
    background:none;
    transform: translate(0,-6px) ;
    color:white;
    border:white;
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
transform: translateX(-3px);
transform: translateX(-3px);
}    


#formHorizontal{
    font-family: 'Quicksand', sans-serif;
    
}
#formHorizontalInvoice, #formHorizontalEmail2, #formHorizontalTotal {
    
    width: 400px;
    background: none;
    border: 1px solid white;
    color:white !important;
}
.formHorizontalPay {
    margin-left:40px;
    
}

::-webkit-input-placeholder {
    font-size:18px;
    color:white;
    font-family: 'Abel', sans-serif;
    
}


.Quote_Form {
    margin-top:10%;

}

.title_input {
    margin-top:2px;
    padding: 4px;
   
}
#contained-modal-title{
    font-size: 35px;
    margin-top: 3%;
}



.form-control {
    width:500px;
    border: white solid  1px;
    background: none;
    margin:1%;
    
}
label {
    position: static!important;
    margin-top:-1% !important;
}
.comments {
    height:200px;
    color:white;
}

.check_button {
    margin-top:1%;
    margin-left:5%;
    background: none;
    border: white solid 1px;
    color: white;
    font-size: 21px;
    padding:15px;
    cursor: pointer;  
    transition:0.3s;

}
.requestsubmit {
    border: white solid 1px;
    background: none;
    margin-left:33vw;
    margin-top:5%;
    margin-bottom:-10%;
    font-size: 23px;
    color: white;
}
.requestsubmit:hover {
    background:none;
    transform: translate(0,-6px) ;
    color:white;
    border:white;
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
transform: translateX(-3px);
transform: translateX(-3px);
}

.form-horizontal .form-group {
    margin-right: 0;
}





 
/* @keyframes balance {
    0% {
    }
    12% {
    transform: rotateX(-35deg);
    }
    24% {
    
    transform: rotateX(28deg);
    }
    36% {
    
    transform: rotateX(-25deg);
    }
    48% {
    
    transform: rotateX(20deg);
    }
    60% {
    
    transform: rotateX(-15deg);
    }
    72% {
    
    transform: rotateX(10deg);
    }
    84% {
        
    transform: rotateX(-5deg);
    }
    100% {
        
    transform: rotateX(0deg);
    }
} */
.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }
  select option { color: black; }

.quote-container {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.ourservice {
    margin-top:13.5%;
    bottom:0;
    left:0;
    background: rgba(255, 255, 255, 0.13);
    color: white;
    font-size:35px;
    height:250px;
    width:100%;
    z-index:1;
}

.servicetype {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-left:11%;
    margin-right:11%;
    
}
.servicetitle {
    font-size: 22px;
    color:darkgray ;
    font-family: 'Quicksand', sans-serif;
}

@media(max-width:1300px){
    
  }
  @media(max-width:1170px){
  
  }
  @media(max-width:900px){
  
  }
  
  @media(max-width:770px){
    .ourservice {
        display:none;
    }
    label{
        display: none;
    }
  }
  
  
  @media(max-width:551px) {
    .form-control {
        width:350px;
    }
    .requestsubmit {
        margin-top:-1%;
        margin-bottom:3%;
    }
    .contained-modal-title{
        font-size:15px;
    }
  }
  @media(max-width:390px) {
    .form-control {
        width:300px;
    }
  }