@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

button:focus {outline:0 !important;}
input:focus {
    outline:none !important;
}

.request_container{
    width: 100vw;
    height: 100vh;
    position:relative;
    overflow: hidden;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: white;
}

.quote_button {
    background: none;
    border: white solid 1px;
    color: white;
    font-size: 20px;
    padding:1.2%;
    cursor: pointer;  
    transition:0.3s;
    margin-top: -10%;
    margin-left: 665px;
    
} 
.quote_button:hover, .check_button:hover{
    background:none;
    transform: translate(0,-6px) ;
    color:white;
    border:white;
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white;
transform: translateX(-3px);
transform: translateX(-3px);
}    

.payform_container{
   margin-left:33.5%;
   margin-top:-2%;
   z-index:1;
}

#formHorizontal{
    font-family: 'Quicksand', sans-serif;
    
}
#formHorizontalInvoice, #formHorizontalEmail2 {
    
    width: 400px;
    background: none;
    border: 1px solid white;
    color:white !important;
}
.formHorizontalPay {
    margin-left:40px;
    
}

::-webkit-input-placeholder {
    font-size:18px;
    color:white;
    font-family: 'Abel', sans-serif;
    
}
.pay_button {
    margin-top:5%;
    margin-left: 11%;
}
.pay_form {
    position: absolute;
    font-size: 25px;
    border: white 1px solid;
    padding: 2%;
    margin-top:-2%;
}
.custom-modal2 {
    height:60%;
    font-family: 'Saira Extra Condensed', sans-serif;
    overflow-y: hidden;
    
}

.modal-dialog {
    width: 43%;
    height: auto;
    margin: 10% auto;
 
}

.Quote_Form {
    font-size: 16.5px;
}

.title_input {
    padding: 0px;
   
}
#contained-modal-title{
    font-size: 30px;
}

.modal-container {
    height: 200px;
}
.modal-content {
    width: 600px;
    height:530px;
    overflow-y: scroll;
    background: white;
    color:black;
}  

.form-control {
    width:420px;
    border: black solid  1px;
    background: none;
    
}
label {
    margin-top: -1%;
}
.comments {
    height:200px;
}

.check_button {
    margin-top:2%;
    margin-left:8%;
    background: none;
    border: white solid 1px;
    color: white;
    font-size: 21px;
    padding:15px;
    cursor: pointer;  
    transition:0.3s;

}
.requestsubmit {
    border: black solid 1px;
    background: none;
    margin-left:420px;
    font-size: 20px;
}

.form-horizontal .form-group {
    margin-right: 0;
}

.close {
    width:10px;
    height: 10px;
    color:black !important;
}

.horistring{
    margin-top:10%;
    height: .05em;
    border:2px solid white;
    margin-left: 26%;
    margin-right: 26%;
}
.circle {
    display: flex;
    justify-content: space-between;
    margin-top:2%;
    
}
.circle1, .circle2 {
    
	width: 17px;
	height: 17px;
	background: none;
	border-radius: 50px;
	border: white 1px solid;
}
.circle1 {
    margin-left:75px;
}
.circle2 {
    margin-right:576px;
}

.string{
    display: flex;
    justify-content: space-between;
    
}


.verstring1, .verstring2 {
    height: 230px;
    border:1px solid white;
}
.verstring1 {
    margin-left:564px;
}
.verstring2 {
    margin-right:584px;
}



/* animation */
.payform_container {
    perspective: 10000;
    
}

.pay {
    position: relative; z-index:1;
    transition:0.2s;
    transform-origin: top;
    animation: balance 2.5s  alternate;
    
}

 
@keyframes balance {
    0% {
    }
    12% {
    transform: rotateX(-35deg);
    }
    24% {
    
    transform: rotateX(28deg);
    }
    36% {
    
    transform: rotateX(-25deg);
    }
    48% {
    
    transform: rotateX(20deg);
    }
    60% {
    
    transform: rotateX(-15deg);
    }
    72% {
    
    transform: rotateX(10deg);
    }
    84% {
        
    transform: rotateX(-5deg);
    }
    100% {
        
    transform: rotateX(0deg);
    }
}
.swal-footer {
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
  }
