@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.request_container{
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1488885064048-f182e4985f98?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop=");
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Shadows Into Light', cursive;
}

.quote_button {
    background: none;
    border: black solid 1px;
    color: none;
    font-size: 20px;
    padding:15px;
    cursor: pointer;  
    font-family: 'Shadows Into Light', cursive;
}
.input_container{
    padding:80px;
}
#formHorizontalInvoice, #formHorizontalEmail2, #formHorizontalPay {
    margin: 5px;
    width: 400px;
    background: none;
    border: 1px solid black;
}


.pay_button {
    background: none;
    border: 1px solid black;
    padding:15px;
}

::-webkit-input-placeholder { /* Chrome */
    font-size:15px;
    color:black;
    font-family: 'Abel', sans-serif;
    
}
.pay_form {
    position: absolute;
    font-size: 25px;
}
.custom-modal2 {
    height:80%;
    font-family:'Shadows Into Light', cursive;
    overflow-y: 300px;
    
}

.modal-dialog {
    width: 670px;
    height: auto;
    margin: 100px auto;
 
}

.Quote_Form {
    font-size: 16.5px;
}
.title_input {
    padding: 0px;
   
}
#contained-modal-title{
    font-size: 30px;
}

.modal-container {
    height: 200px;
}
.modal-content {
    height:690px;
    background: url("https://images.unsplash.com/photo-1494537176433-7a3c4ef2046f?dpr=1&auto=compress,format&fit=crop&w=1000&h=&q=80&cs=tinysrgb&crop="); 
}
