@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Abel');

.Login_container {
    width: 100vw;
    height: 100vh;
    background: #202020;
    background-size: cover;
     
}


.login_button {
   
    border: white solid 1px;
    background: none;
    font-size: 30px;
    color: white;
}
.login_button:hover {
    background: none;
    border:none;
    color:white;
    box-shadow: 
    1px 1px white,
    2px 2px white,
    3px 3px white;
transform: translateX(-3px);
transform: translateX(-3px);
}

::-webkit-input-placeholder { /* Chrome */
    font-size:20px;
       
    
}

