@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Abel');

.Login_container {
    width: 100vw;
    height: 100vh;
    background: LIGHTSLATEGRAY;
    background-size: cover;
    overflow-y: scroll;
     
}


.login_button {
    border: none;
    background: none;
    font-size: 50px;
    color: white;
}
login_button:hover {
    background-color:none;
}

::-webkit-input-placeholder { /* Chrome */
    font-size:20px;
    
    
}

