@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

body {
  background:#202020;
  width:100%;
  text-align: center;
  height: 100%;
  font-family: 'Saira Condensed', sans-serif;
  color: white;
  margin: 0 auto;
  
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.Navicon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 35px;
  position: absolute;
  left: 50%;
  top:50%;

 
}

.Naviconbox {
  position: fixed;
  padding: 40px;
  z-index: 3;
  cursor: pointer;
 
}



.Navbar {
  background-color:white;;
  border-radius: 5px;
  width:95%;
  height:9%;
  
}


#fire{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Admin_button{
  background: none;
  position: fixed;
  top: 0px;
  right: 0px;
  margin:2.4%;
  margin-right:40px;
  font-size: 25px;
  color: white;
  transition:0.3s;
  border: none;
  z-index:10;
  
}

.Admin_button:hover{
  color:white !important;
  letter-spacing: 2.5px;
  background: none;
}
.facebook {
  width: 65px;
  height: 43px;
  transition:0.3s;
 cursor: pointer;
 
}
.instagram {
  width: 21px;
  height:21px;
  margin-top: 30%;
  transition:0.3s;
 cursor: pointer;
  
}
.linkedin {
  width:21px;
  height:21px;
  margin-top: 40%;
  transition:0.3s;
  cursor: pointer;
}

.follow {
  position: fixed;
  margin-left:94.5%;
  margin-top: 20%;
  z-index: 2;
  
} 

.facebook:hover, .instagram:hover, .linkedin:hover {
  transform: translateY(-4px);
  opacity: 0.7;
}

 .inputtext{
  color:white !important;
 }

 .formHorizontal{
   color:white !important;
 }

@media(max-width:900px){
  .follow{
    display:none;
  }
}
@media(max-width:650px){
  .follow{
    display:none;
  }
  }
  

@media(max-width:470px) {
  .follow{
    display:none;
  }
}


/* @media(max-width:1300px){
  
}
@media(max-width:1170px){

}
@media(max-width:900px){

}

@media(max-width:650px){

}


@media(max-width:470px) {

} */