@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

body {
  background:#202020;
  text-align: center;
  height: 100vh;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: white;
}

.Navicon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 35px;
  position: absolute;
  left: 50%;
  top:50%;

 
}

.bluelogo {
  border:white solid 1px;
  margin-right: 1165px;
  margin-top:-195px;
  width: 70px;
  height: 70px;
}

.Naviconbox {
  position: fixed;
  padding: 40px;
  z-index: 3;
 
}



.Navbar {
  background-color:white;;
  border-radius: 5px;
  width:100%;
  height:8%;
}


#fire{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Admin_button{
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 30px;
  margin-right:50px;
  font-size: 25px;
  color: white;
  transition:0.3s;
}

.Admin_button:hover{
  transform: translate(0,-4px) ;
  color:white !important;
}

