@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

body {
  background:#202020;
  text-align: center;
  height: 100vh;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #ecf4f4;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.Navicon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 35px;
  position: absolute;
  left: 50%;
  top:50%;

 
}

.Naviconbox {
  position: fixed;
  padding: 40px;
  z-index: 3;
  cursor: pointer;
 
}



.Navbar {
  background-color:#ecf4f4;;
  border-radius: 5px;
  width:95%;
  height:9%;
  
}


#fire{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.Admin_button{
  position: fixed;
  top: 0px;
  right: 0px;
  margin:3%;
  margin-right:50px;
  font-size: 25px;
  color: #ecf4f4;
  transition:0.3s;
}

.Admin_button:hover{
  transform: translate(0,-4px) ;
  color:#ecf4f4 !important;
  opacity: 0.5;
}
.facebook {
  width: 65px;
  height: 43px;
  transition:0.3s;
 cursor: pointer;
 z-index:5;
}
.instagram {
  width: 21px;
  height:21px;
  margin-top: 30%;
  transition:0.3s;
 cursor: pointer;
  z-index:5;
}
.linkedin {
  width:21px;
  height:21px;
  margin-top: 40%;
  transition:0.3s;
  cursor: pointer;
  z-index:5;
}

.follow {
  position: fixed;
  margin-left:94.5%;
  margin-top: 20%;
  
} 

.facebook:hover, .instagram:hover, .linkedin:hover {
  transform: translateY(-2px);
  opacity: 0.5;
}
