@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');


html{
    color:#DCDCDC;
    
}


ul {
    list-style: none;
   
}




.navHome {
    margin-top: 80px;
    color: white;
}

li {
    padding: 0 15px;
    padding: 20px;
    color:white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    transition: 0.3s; 
    
}

li:hover {
    transform: translate(0,-5px);
  
}

a:link, a:visited, a:hover, a:active {
    text-decoration:none;
}

#nav.slidemenu{
    left:0px;
    position: fixed;
    z-index: 1;
   
}
#nav {
    left:-200px;
    position: fixed;
    transition: 0.2s ;
    height:100vh;
    width:auto;
    
}


.Admin {
    margin-top: 200px;

}

