@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html{
    color:#DCDCDC;
    
}


ul {
    list-style: none;
   
}

.navHome {
    margin-top: 80px;
    color: white;
    z-index:10;
}

li {
    padding: 25px;
    color:white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    transition: 0.2s ease; 
    cursor: pointer;
    
}

li:hover {
    transform: translateY(-4px);
    opacity:0.85;
}

a:link, a:visited, a:hover, a:active {
    text-decoration:none;
}

#nav.slidemenu{
    left:4%;
    position: fixed;
    z-index: 20;
   
}
#nav {
    left:-210px;
    position: fixed;
    transition: 0.2s ;
    height:100vh;
    
    
}


.Admin {
    margin-top: 200px;

}

