@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html{
    color:#DCDCDC;
    
}

.arrow2 {
    margin-top:5%;
    width: 8%;
    height: 8%;
    cursor: pointer;
    transition: 0.4s;
}
.arrow2:hover {
    transform: translateY(4px)
}

ul {
    list-style: none;
   
}
.follow{
    margin-top:10%;
    font-size:10px;
    font-family: 'Noto Sans', sans-serif;
    
}


.navHome {
    margin-top: 80px;
    color: white;
}

li {
    padding: 20px;
    color:white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    transition: 0.3s; 
    
}

li:hover {
    transform: translate(0,-5px);
  
}

a:link, a:visited, a:hover, a:active {
    text-decoration:none;
}

#nav.slidemenu{
    left:-2.5%;
    position: fixed;
    z-index: 1;
   
}
#nav {
    left:-250px;
    position: fixed;
    transition: 0.2s ;
    height:100vh;
    width:auto;
    
}


.Admin {
    margin-top: 200px;

}

.facebook {
  width:65px;
  height:40px;
  
}
.instagram {
  
  width: 21px;
  height: 21px;
  margin-top:8%;
  margin-left:2%;
}
.linkedin {
  width:21px;
  height:21px;
  margin-top:10%;
  margin-left:2%;
}
.logos{
  margin-left:11%;
}
